/docs/
/mc_results/
/montecarlo/
/montecarlo_results/
/montecarlo_results_*/
/montecarlo_results_*/


/imc-prosperity-4-montecarlo/
/imc-prosperity-4-backtester-kevin/
/imc-prosperity-3-backtester-master/

